@import url("https://use.typekit.net/nrg7kjs.css");
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;   
  background: #000;
}

.black-bars {
  position: relative;
  height: 600px;
  width: 100%;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 3;
  animation: moveUp 13s ease-in 86s;
  -webkit-animation: moveUp 13s ease-in 86s;
}

.intro {
  position: relative;
  animation: intro 7.5s ease-out 1s;
  -webkit-animation: intro 7.5s ease-out 1s;
  opacity: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1.intro-title {
  z-index: 10;
  color: rgb(15, 165, 245);
  font-size: 350%;
	font-weight: 400;
  font-family: 'News Cycle', sans-serif;
  max-width: 700px;
  width: 100%;
}

.logo {
  position: relative;
  top: -760px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  opacity: 0;
  left: -2%;
  animation: logo 8s ease-out 9s;
  -webkit-animation: logo 8s ease-out 9s;
}
.logo svg {
  width: inherit;
}

.tattooine img {
  position: relative;
  z-index: 6;
  top: 100%;
  width: 100%;
  animation: scrollDown 13s ease-in 88s;
  -webkit-animation: scrollDown 13s ease-in 88s;
  opacity: 0;
}


.star-wars {
  height: 1200px;
  position: relative;
  display: flex;
  justify-content: center;
  perspective: 3000px;
  animation: showSky 100s linear 9s;
  -webkit-animation: showSky 100s linear 9s;
  opacity: 0;
  width: 1894px;
  left: -2%;
}

.crawl {
  position: relative;
  transform-origin: 50% 100%;
  top: 100%;
  width: 100%;
  margin: 0 auto;
  animation: crawl 88s linear 12s;
  -webkit-animation: crawl 88s linear 12s;
}
.title {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: -100px;
  width: 100%;
  position: relative;
  left: -85px;
}
.title h1,
.crawl .title p {
  text-align: center;
}
.crawl .title p {
  width: 100%;
}
.crawl .title h1 {
  color: #FFE81F;
  text-transform: uppercase;
  font: normal 700 390px "franklin-gothic-urw-cond",sans-serif;
  letter-spacing: 6px;
  margin-top: -15px;
}
.crawl p {
  color: #FFE81F;
  font-size: 145px;
  font-weight: 500;
  font-family: "franklin-gothic-urw", sans-serif;
  text-align: justify;
  letter-spacing: 13px;
  z-index: 1;
  line-height: 1.45em;
  width: 2200px;
  margin: 0 auto;
}

.crawl .story {
  position: relative;
  left: -8%;
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}
.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}
.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 825s linear infinite;
  -ms-animation:move-twink-back 825s linear infinite;
  -o-animation:move-twink-back 825s linear infinite;
  -webkit-animation:move-twink-back 825s linear infinite;
  animation:move-twink-back 825s linear infinite;
}

/* .bottom-black-bar {
  background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    z-index: 7;
} */

/* animation is turning transparent bg on and off */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes crawl {
	0% {
    top: 2800px;
    transform: rotateX(55deg) translateZ(5000px);
    -webkit-transform: rotateX(55deg) translateZ(5000px);
    -moz-transform: rotateX(55deg) translateZ(5000px);
    -ms-transform: rotateX(55deg) translateZ(5000px);
    -o-transform: rotateX(55deg) translateZ(5000px);
}
	100% {
    top: -26600px;
    transform: rotateX(75deg) translateZ(-18700px);
    -webkit-transform: rotateX(75deg) translateZ(-18700px);
    -moz-transform: rotateX(75deg) translateZ(-18700px);
    -ms-transform: rotateX(75deg) translateZ(-18700px);
    -o-transform: rotateX(75deg) translateZ(-18700px);
}
}

@keyframes showSky {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes logo {
  0% {
    transform: scale(3.5);
    opacity: 1;
      
  }
  100% {
    transform: scale(.1);
    opacity: 0;
  }
}

@keyframes scrollDown {
  0% {
    opacity: 1;
    top: 100%;
  }
  60% {
    opacity: 1;
    top: 80%;
  }
  70% {
    opacity: 1;
    top: 0;
  }
  80% {
    opacity: 1;
    top: 0;
  }
  90% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes moveUp {
  0% {
    height: 600px
  }
  50% {
    height: 300px;
  }
  100% {
    height: 0px;
  }
}