@import url("https://use.typekit.net/nrg7kjs.css");
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

body {
  height: 100%;
  width: 100%;
  overflow: hidden;   
  background: #000;
}

.intro {
  position: relative;
  animation: intro 7.5s ease-out 1s;
  opacity: 0;
  left: 1%;
  margin-top: 15%;
  -webkit-animation: intro 7.5s ease-out 1s;
}

h1.intro-title {
  z-index: 10;
  color: rgb(15, 165, 245);
  font-size: 350%;
	font-weight: 400;
  font-family: 'News Cycle', sans-serif;
  max-width: 700px;
  margin: 500px auto 0;
/*   text-shadow: 0 0 6px rgb(75, 213, 238), 0 0 1px rgb(75, 213, 238), 0 0 20px rgb(75, 213, 238), 0 0 1px rgb(75, 213, 238), 0 0 1px rgb(75, 213, 238), 0 0 1px rgb(75, 213, 238), 0 0 1px rgb(75, 213, 238); */
}

.black-bars {
  position: relative;
  height: 600px;
  width: 100%;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 3;
}

.star-wars {
  height: 500px;
  display: flex;
  justify-content: center;
  perspective: 11000px;
  animation: showSky 100s linear 9s;
  opacity: 0;
  width: 100%;
  -webkit-animation: showSky 100s linear 9s;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -225px;
  z-index: 5;
  opacity: 0;
  animation: logo 8s ease-out 9s;
  -webkit-animation: logo 8s ease-out 9s;
  left: -2.5%;
}

.logo svg {
  width: inherit;
}

.crawl {
  position: relative;
  transform-origin: 50% 100%;
  top: 100%;
  animation: crawl 88s linear 2.2s;
  width: 100%;
  margin: 0 auto;
  -webkit-animation: crawl 88s linear 2.2s;
  left: 2%;
}

.title {
  width: 2325px;
  text-align: center;
  margin-left: -250px;
}

.title h1,
.crawl .title p {
  text-align: center;
}

.crawl .title p {
  width: 100%;
}

.title h1 {
  color: #FFE81F;
  text-transform: uppercase;
  font: normal 700 350px "franklin-gothic-urw-cond",sans-serif;
  letter-spacing: 5px;
  margin: 0 auto 15px;
  
}

.crawl p {
  color: #FFE81F;
  font-size: 131px;
  font-weight: 500;
  font-family: "franklin-gothic-urw", sans-serif;
  text-align: justify;
  letter-spacing: 8px;
  z-index: 1;
  width: 93%;
  line-height: 1.5em;
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.star-destroyer img {
  position: relative;
  z-index: 6;
  top: 90px;
  width: 100%;
  opacity: 0.9;
  animation: scrollDown 13s ease-in 85s;
  -webkit-animation: scrollDown 13s ease-in 85s;
}

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}
.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;
  
  -moz-animation:move-twink-back 825s linear infinite;
  -ms-animation:move-twink-back 825s linear infinite;
  -o-animation:move-twink-back 825s linear infinite;
  -webkit-animation:move-twink-back 825s linear infinite;
  animation:move-twink-back 825s linear infinite;
}

/* animation is turning transparent bg on and off */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes crawl {
	0% {
    top: -1400px;
    transform: rotateX(60deg) translateZ(0);
    -webkit-transform: rotateX(60deg) translateZ(0);
    -moz-transform: rotateX(60deg) translateZ(0);
    -ms-transform: rotateX(60deg) translateZ(0);
    -o-transform: rotateX(60deg) translateZ(0);
}
	100% {
    top: -40300px;
    transform: rotateX(75deg) translateZ(-33800px);
    -webkit-transform: rotateX(75deg) translateZ(-33800px);
    -moz-transform: rotateX(75deg) translateZ(-33800px);
    -ms-transform: rotateX(75deg) translateZ(-33800px);
    -o-transform: rotateX(75deg) translateZ(-33800px);
}
}

@keyframes showSky {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes logo {
  0% {
    transform: scale(3.5);
    opacity: 1;
      
  }
  100% {
    transform: scale(.1);
    opacity: 0;
  }
}

@keyframes scrollDown {
  0% {
    top: 90px;
  }
  60% {
    top: -700px;
  }
  70% {
    top: -700px;
  }
  80% {
    top: -700px;
  }
  90% {
    top: -700px;
  }
  100% {
    top: -700px;
  }

}